* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/netflix-bakground.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px;

  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#head-logo {
  min-height: 6em;
  padding-right: 50px;
}
header {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

header a:hover {
  scale: 1.05;
  font-weight: 800;
}

header img:hover {
  scale: 1.05;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
nav li {
  color: white;
}
nav a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search-box {
  display: flex;
  margin-left: auto;
  gap: 15px;
}
.search-box a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.search-box img {
  width: 25px;
  height: 25px;
}

main img {
  width: 9em;
  display: block;
}
main h1 {
  font-size: 6em;
  margin-top: 0;
}
main h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-buttons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.main-buttons > :last-child {
  margin-left: auto;
}

.main-buttons img {
  width: 20px;
  height: 20px;
}

.play-button {
  width: 150px;
  height: 40px;
  background-color: rgb(255, 255, 255), 0.811;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
}
.info-button {
  width: 150px;
  height: 40px;
  background-color: rgba(81, 75, 75, 0.811);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
  color: white;
}

.play-button,
.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.age-thing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: 40px;
  width: 100px;
  background-color: rgba(90, 61, 62, 0.7);
}
.age-thing img {
  margin-right: auto;
  height: 100%;
  width: 35%;
}

.main-buttons button:hover {
  scale: 1.05;
  cursor: pointer;
}

footer {
  margin-top: 30px;
}

footer h4 {
  font-size: 1.2em;
  font-weight: 400;
}

.slide-show {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
}

footer img {
  height: 200px;
  width: 16%;
}

footer aside {
  width: 130px;
  height: 200px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85)),
    url("images/netflix-slide7.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer img:hover {
  scale: 1.05;
  cursor: pointer;
}
